{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <script src="{% static 'base/d3.v4.min.js' %}"></script>
    <script src="{% static 'base/jquery.min.js' %}"></script>
    <script>
      let url_a_changer = "ou vais-je";
    </script>
  </head>
  <h1>Contacts</h1>
  <table>
    <tr>
      <th>Prénom</th>
      <th>Nom</th> 
      <th>Utilisateur</th>
      <th>E-mail</th>
    </tr>
  </table>
  <script src="{% static 'people/email.js' %}"></script>
</html>
